name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app
      - name: Resolve Swift Packages
        run: xcodebuild -resolvePackageDependencies -project CodingReviewer.xcodeproj
      - name: List schemes
        run: xcodebuild -list -project CodingReviewer.xcodeproj
      - name: Build (macOS)
        run: set -o pipefail && xcodebuild -scheme "CodingReviewer" -destination 'platform=macOS' build
      - name: Test (macOS)
        run: set -o pipefail && xcodebuild -scheme "CodingReviewer" -destination 'platform=macOS' test
